@page
@model CreateVModel
 
@{
    ViewData["Title"] = "Create page";
}

@if(@ViewData["status"] is int)
{
	@if((int)@ViewData["status"]!=0){
		<div>
			<h4>"You have created a vehicle by id: @ViewData["status"] !"</h4>
		</div>
	}
	else
	{
		<div>
			<h4>"Vehicle by the given id already exists or error happend in creaton!"</h4>
		</div>	
	}
	 
}

<form method="post" class="mt-3" enctype="multipart/form-data" asp-page-handler="OnPost">
	 <div asp-validation-summary="All" class="text-danger"></div>
	 <div class="form-group row">
        	<label asp-for="Vehicle.Id" class="col-sm-2 col-form-label"></label>
        	<div class="col-sm-10">
            		<input asp-for="Vehicle.Id" class="form-control" placeholder="Id">
            		<span asp-validation-for="Vehicle.Id" class="text-danger"></span>
        	</div>
    	 </div>
	 <div class="form-group row">
        	<label asp-for="Vehicle.MakeId" class="col-sm-2 col-form-label"></label>
        	<div class="col-sm-10">
            		<input asp-for="Vehicle.MakeId" class="form-control" placeholder="Make Id">
            		<span asp-validation-for="Vehicle.MakeId" class="text-danger"></span>
        	</div>
    	 </div>
	 <div class="form-group row">
        	<label asp-for="Vehicle.Name" class="col-sm-2 col-form-label">
        	</label>
           	<div class="col-sm-10">
            		<input asp-for="Vehicle.Name" class="form-control" placeholder="Name">
            		<span asp-validation-for="Vehicle.Name" class="text-danger"></span>
           	</div>
    	 </div>
	 <div class="form-group row">
        	<label asp-for="Vehicle.Abbrevation" class="col-sm-2 col-form-label">
        	</label>
           	<div class="col-sm-10">
            		<input asp-for="Vehicle.Abbrevation" class="form-control" placeholder="Abbrevation">
            		<span asp-validation-for="Vehicle.Abbrevation" class="text-danger"></span>
           	</div>
    	 </div>
	<hr />
	<button type="submit" class="btn btn-primary">
	 	Create Vehicle
	</button>
</form>

<hr />

<a class="btn btn-primary" asp-page="/VehicleModel/IndexVModel">Back to full list</a>
 
