@page  
 
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="btn btn-primary" asp-page="/VehicleMake/IndexVMake">VehicleMake list</a></li>
</ol>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="btn btn-primary" asp-page="/VehicleModel/IndexVModel">VehicleModel list</a></li>
</ol>

 
 
